@font-face {
	font-family: 'Cereal';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AirbnbCereal-Book.ttf") format("ttf"),
		url("../fonts/AirbnbCereal_W_Bk.woff") format("woff"),		
		url("../fonts/AirbnbCereal_W_Bk.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: 'Cereal';
	font-weight: 600;
	font-style: normal;
	src: url("../fonts/AirbnbCereal-Medium.ttf") format("ttf"),
		url("../fonts/AirbnbCereal_W_Md.woff") format("woff"),		
		url("../fonts/AirbnbCereal_W_Md.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: 'Cereal';
	font-weight: 800;
	font-style: normal;
	src: url("../fonts/AirbnbCereal-Bold.ttf") format("ttf"),
		url("../fonts/AirbnbCereal_W_Bd.woff") format("woff"),
		url("../fonts/AirbnbCereal_W_Bd.woff2") format("woff2");		
	font-display: swap;
}
