/* overall */
.w1280 {
	max-width: 690px;
	width: 85vw;
	margin: 0 auto;
}



/* header */
#header .top {
	display: none;	
}
#header_scroll {
	display: block;
	background: transparent;
	width: 100vw;
}
#header_scroll .nav {
	width: 100%;
}
#header_scroll .logo,
#header_scroll .member {
	display: none;
}
#header_scroll .nav .search_box,
#header_scroll .nav .search_box .search .query {
	width: 100%;
	text-align: center;
}
#header_scroll .nav .search_box .search_box {
	background: var(--white);
}



/* main */
#main_vis {
	padding-bottom: 48px;
}
.visual h2 {
	font-size: 32px;
	line-height: 36px;
	letter-spacing: -0.02em;text-align: center;
}
.visual .flexible {
	width: calc(161px * .8);
	height: 48px;
	line-height: 48px;
}
.visual .flexible a {
	font-size: 15px;
	padding: 14px 20px;
}

/* main - Trip Destination & Activity */
#trip_dest,
#activity {
	padding-top: 64px;
	width: 100%;
}
#activity {
	padding-bottom: 64px;
}
#trip_dest h2, 
#activity h2 {
	font-size: 25px;
}
#trip_dest .dest_card,
#activity .activity_card {
	flex-wrap: wrap;
}
#trip_dest .dest_card .card {
	width: 49%;
	margin-bottom: 4%;	
}
#trip_dest .card img,
#trip_dest .card .info {
	height: 150px;
}
#trip_dest .card .info .loc_name {
	font-size: 23px;
}

#activity .activity_card .card {
	width: 100%;
	margin-bottom: 4%;
}
#activity .activity_card .card h3 {
	font-size: 34px;
}

/* main - gift cards */
#giftcard .w1280 {
	flex-wrap: wrap;
	align-content: space-around;
	padding-bottom: 64px;
}
#giftcard .giftcard_image {
	width:100%;
	min-height: 80%;
	background-position: left top;
	background-size: cover;
}
#giftcard h2.tit_b {
	font-size: 34px;
}

/* Main - host */
#hosting .w1280 {
	padding: 32px 40px;
}
#hosting h2 {
	font-size: 43px;
	line-height: 45px;
}

/* future dest */
/* need to figure out tab condition */
#future_dest .future_dest_list {
	overflow: hidden;
}
#future_dest .future_dest_panel li {
	width: 50%;
}



/* footer */
#footer #info_list {
	flex-wrap: wrap;
	padding-bottom: 0;
}
#footer #info_list>div {
	width: 100%;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid var(--gray3);
}
#footer #info_list>div:last-child {
	
	margin-bottom: 0;
}
#copyright {
	border-top: none;
}
#copyright .w1280 {
	flex-direction: column-reverse;
	align-items: flex-start;
}
#copyright .foot_left {
	display: block;
	margin-top: 10px;
}
#copyright .foot_left>span:first-of-type {
	display: none;
}
#copyright .foot_right .sns_icons {
	display: none;
}